@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

/* ================Resets================ */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  display: block;
}

:root {
  /* # Primary */
  --Pink: hsl(322, 100%, 66%);

  /* # Neutral */
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --GrayishBlue: hsl(208, 11%, 55%);
}

/* font-family: 'Open Sans', sans-serif;  400, 700 */
/* font-family: 'Poppins', sans-serif;    600 */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-align: center;
}

/* ================== Core Design ================ */
header {
  background: url(./Assets/images/bg-hero-mobile.svg) no-repeat;
  background-color: var(--VeryPaleCyan);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--VeryDarkCyan);
  letter-spacing: 0.7px;
  margin-bottom: 25px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--VeryDarkCyan);
  line-height: 1.6;
  margin: 0 25px 40px;
  font-size: 1.6rem;
}

.wrapper {
  max-width: 355px;
  padding: 20px 0;
  margin: 0 auto;
}

.logo {
  width: 140px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.head-img {
  max-width: 95%;
  margin: 0 auto 20px;
}

/* =============== Button ================= */
.btn {
  border-radius: 30px;
  font-weight: 700;
  -webkit-tap-highlight-color: transparent;
  font-size: 1.4rem;
  text-align: center;
}

.btn-small {
  padding: 0.3em 1.5em;
  background-color: #fff;
  color: var(--VeryDarkCyan);
  box-shadow: 2px 5px 10px rgb(221, 221, 221);
  transition: all 0.5s ease-in-out;
}
.btn-small:hover {
  color: var(--GrayishBlue);
}

.btn-normal {
  background-color: var(--Pink);
  color: #fff;
  padding: 1em 2em;
  width: 70%;
  margin: 0 auto 60px;
  box-shadow: 1px 1px 10px rgba(173, 56, 130, 0.61);
  transition: all 0.5s ease-in-out;
}

.btn-normal:hover {
  opacity: 0.7;
}

/* ====================== Desktop ===================== */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
    text-align: left;
  }

  header {
    background: url(./Assets/images/bg-hero-desktop.svg) no-repeat;
    background-color: var(--VeryPaleCyan);
  }

  h1 {
    font-size: 3.6rem;
    letter-spacing: 0.7px;
    padding-right: 7px;
    margin-bottom: 25px;
  }

  p {
    margin: 0 0 40px;
    font-size: 1.8rem;
  }

  .logo {
    width: 200px;
  }

  .btn-small {
    padding: 1em 4em;
  }

  .btn-normal {
    padding: 1.4em 2em;
    margin: 0;
    width: 55%;
  }

  .wrapper {
    max-width: 1440px;
    padding-top: 50px;
    width: 90%;
  }

  .head{
      margin-bottom: 60px;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .head-text {
    max-width: 511px;
    width: 45%;
  }
  .hero-img {
    width: 55%;
  }
}
